.logo {
    font-weight: bold;
    background-color: darkcyan;
    color: white;
    font-size: 60px;

}

.first image {
    width: 20%; 
    float: left; 
    margin : 5px;

}

.text {
    float: left;
}
h2 {
    color: darkcyan
    
}
.nav-color {
    color: white
    
}
.current-tag{
    border: 5px;
    border-width: 5px;
    border-color: darkcyan;
    border-style: solid;
}